@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #444;
$color-medium: #BDC581;
$color-element: #58B19F;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-medium;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  color: #58B19F;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;
  text-decoration: overline;

  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;

}

.sidebar, .posts {
  background: #F8EFBA;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid $color-dark;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 3px;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 500;
  font-size: 104px;
  line-height: 1;
  text-align: center;
  text-shadow: 2px 6px 6px #F8EFBA;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .active {
    font-weight: bolder;
    text-decoration: none;
  }
}

.list-horizontal {
  li {
    display: inline-block;
    margin-inline: 10px;
  }
}

ul.list.tags {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

a.tag-size-5 {
  font-family: auto;
  font-weight: 900;
  font-size: x-large;
  color: darkslategray;
  text-decoration: none;
}

a.tag-size-3 {
  font-size: medium;
  font-family: fantasy;
  text-decoration: none;
  color: darkgrey;
}

a.tag-size-1 {
  font-size: small;
  font-weight: bold;
  text-decoration: none;
  font-family: monospace;
  color: mediumvioletred;
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

ul.list.authors {
  text-decoration: none;
  font-size: 16px;
  font-family: system-ui;
  font-style: italic;
}

/* Post */

.post {
  display: none;

  &.active {
    display: block;

  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: inline-flex;

  p {
    margin: 0 10px 0 0;
  }
}
